.zg-collapse-item {
  --zg-collapse-header-height: 48px;
}
.zg-collapse-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--zg-collapse-header-height);
  line-height: var(--zg-collapse-header-height);
  background-color: var(#{getCssVarName('fill', 'color-blank')});
  color: var(#{getCssVarName('text', 'color-primary')});
  cursor: pointer;
  font-size: var(#{getCssVarName('font', 'size-base')});
  font-weight: var(#{getCssVarName('font', 'weight-primary')});
  transition: border-bottom-color var(--zg-transition-duration);
  outline: none;
  border-bottom: 1px solid var(#{getCssVarName('border', 'color-light')});
  &.is-disabled {
    color: var(#{getCssVarName('disabled', 'text-color')});
    cursor: not-allowed;
    background-image: none;
  }
  &.is-active {
    .header-angle {
      transform: rotate(0deg);
    }
  }
  .header-angle {
    transform: rotate(-90deg);
    transition: transform var(--zg-transition-duration);
  }
}
.zg-collapse-item__content {
  will-change: height;
  background-color: var(#{getCssVarName('fill', 'color-blank')});
  overflow: hidden;
  box-sizing: border-box;
  font-size: var(#{getCssVarName('font', 'size-small')});
  color: var(#{getCssVarName('text', 'color-primary')});
  border-bottom: 1px solid var(#{getCssVarName('border', 'color-light')});
  padding-bottom: 20px;
}

.collapse-transition-enter-active,
.collapse-transition-leave-active {
  transition:
    var(--zg-transition-duration) max-height ease-in-out,
    var(--zg-transition-duration) padding-top ease-in-out,
    var(--zg-transition-duration) padding-bottom ease-in-out;
}
