import ZgAlert from './Alert'
import ZgCollapseItem from './CollapseItem'
import ZgCollapse from './Collapse'
import ZgButton from './Button'

declare module 'vue' {
  export interface GlobalComponents {
    ZgAlert: typeof ZgAlert
    ZgCollapseItem: typeof ZgCollapseItem
    ZgCollapse: typeof ZgCollapse
    ZgButton: typeof ZgButton
  }
}

declare module 'vite-components-last' {
  export type NameType = string | number
}
