import ZgCollapseItem from './CollapseItem'
import ZgCollapse from './Collapse'
import ZgButton from './Button'

declare module 'vue' {
  export interface GlobalComponents {
    ZgCollapseItem: typeof ZgCollapseItem
    ZgCollapse: typeof ZgCollapse
    ZgButton: typeof ZgButton
  }
}
